/*-- scss:defaults --*/

$body-bg: #fff;
$link-color: #13279c
;
$h1-color: #13279c;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal h1 {
  color: #13279c !important;
}

.reveal h2 {
  color: #13279c !important;
}


td, td a {     font-size:18px; }
th, th a {     font-size:20px; }
